<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/card.css" />
  </head>
  <body>
    <div class="card text-left">
      <h3 class="card-title">Min Ga Lar Par</h3>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
        tempora.
      </p>
    </div>

    <div class="card text-center">
      <h3 class="card-title">Min Ga Lar Par</h3>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
        tempora.
      </p>
    </div>

    <div class="card text-end">
      <h3 class="card-title">Min Ga Lar Par</h3>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
        tempora.
      </p>
    </div>

    <div class="card text-left rounded">
      <h3 class="card-title">Min Ga Lar Par</h3>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
        tempora.
      </p>
    </div>

    <div class="card text-center rounded">
      <h3 class="card-title">Min Ga Lar Par</h3>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
        tempora.
      </p>
    </div>

    <div class="card text-end rounded">
      <h3 class="card-title">Min Ga Lar Par</h3>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
        tempora.
      </p>
    </div>

    <div class="card text-left">
      <img
        class="card-img"
        src="../images/814a7183_edit_2-683x1024.jpg"
        alt=""
      />
      <h3 class="card-title">Min Ga Lar Par</h3>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
        tempora.
      </p>
    </div>

    <div class="card text-left rounded">
      <img
        class="card-img rounded"
        src="../images/814a7183_edit_2-683x1024.jpg"
        alt=""
      />
      <h3 class="card-title">Min Ga Lar Par</h3>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
        tempora.
      </p>
    </div>

    <div class="card text-left p-none">
      <img
        class="card-img m-none"
        src="../images/814a7183_edit_2-683x1024.jpg"
        alt=""
      />
      <div class="card-body">
        <h3 class="card-title">Min Ga Lar Par</h3>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
          tempora.
        </p>
      </div>
    </div>

    <div class="card text-left mt-200 rounded">
      <img
        class="card-img img-square img-float rounded"
        src="../images/814a7183_edit_2-683x1024.jpg"
        alt=""
      />
      <div class="card-body p-none">
        <h3 class="card-title">Min Ga Lar Par</h3>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
          tempora.
        </p>
      </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  </body>
</html>
