<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./form.css" />
  </head>
  <body>
    <form class="form" action="">
      <fieldset class="form-div">
        <legend class="form-title">Register From</legend>

        <div class="input-div">
          <label class="input-label" for="your_name">Your Name</label>
          <input
            class="form-input"
            type="text"
            name="your_name"
            id="your_name"
          />
        </div>
        <div class="input-div">
          <label class="input-label" for="your_email">Your Email</label>
          <input
            class="form-input"
            type="text"
            name="your_email"
            id="your_email"
          />
        </div>
        <button class="btn">Register</button>
      </fieldset>
    </form>
  </body>
</html>
