@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary: #9c1de7;
  --secondary: #303a52;
  --danger: #fc5185;
  --main-font: "Montserrat", sans-serif;
}

* {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edede9;
}

.form {
}

.form-div {
  width: 400px;
  margin: 100px auto;
  border-radius: 0;
  border: 1px solid black;
  padding: 25px;
  background-color: #d5bdaf;
}

.form-title {
  text-align: center;
  font-size: 25px;
  background-color: #d5bdaf;
  border: 1px solid black;
  padding: 10px;
}

.input-div {
  /* border: 1px solid black; */
  margin-bottom: 15px;
}
.input-label {
  display: block;
  margin-bottom: 5px;
}
.form-input,
.form-textarea,
.from-select {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 0px;
  border: 1px solid black;
  font-size: 14px;
}

.form-input:focus-visible,
.form-textarea:focus-visible,
.from-select:focus-visible {
  outline: none;
}

.btn {
  padding: 10px 15px;
  border-radius: 0px;
  border: 1px solid black;
  font-size: 14px;
  background-color: black;
  color: white;
  display: block;
  margin: auto;
  /* float: right; */
}

.form-check {
  accent-color: black;
}
