<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/list.css" />
  </head>
  <body>
    <ul class="list">
      <li class="list-item">Apple</li>
      <li class="list-item">Orange</li>
      <li class="list-item">Mango</li>
      <li class="list-item">Banana</li>
    </ul>

    <h1>San Kyi tar</h1>
  </body>
</html>
