@mixin btn($color){

    border: 2px solid $color;
    background-color: $color;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
}


.btn-primary{
    
    @include btn($color : blue);
}

.btn-danger{
    
    @include btn($color : red);
}

.btn-success {
    
    @include btn($color : green);
}