@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.btn {
  display: inline-block;
  height: 40px;
  box-sizing: border-box;
  padding: 0 30px;
  border-radius: 5px;
  text-decoration: none;
  line-height: 36px;
  font-size: 12px;
  /* text-transform: uppercase; */
}

.btn-icon {
  padding: 0;
  width: 40px;
}

.btn-pill {
  border-radius: 20px;
}

.btn-primary {
  background-color: #002651;
  border: 2px solid #002651;
  color: #ffffff;
}

.btn-secondary {
  background-color: #575151;
  border: 2px solid #575151;
  color: #ffffff;
}

.btn-danger {
  background-color: #ff304f;
  border: 2px solid #ff304f;
  color: #ffffff;
}

.btn-outline-primary {
  background-color: transparent;
  border: 2px solid #002651;
  color: #002651;
}

.btn-outline-secondary {
  background-color: transparent;
  border: 2px solid #575151;
  color: #575151;
}

.btn-outline-danger {
  background-color: transparent;
  border: 2px solid #ff304f;
  color: #ff304f;
}
